.content {
    &__general {
        &--positioning{
            display: flex;
            flex-direction: column;
        }
    }

    &__button {
        margin-bottom: 20px;
        justify-content: center;
        padding: 10px;
    }
}
