<div class="content__general--positioning">
  <button type="button" class="content__button" 
  (click)="getRandomPerson(namesToBeCalledTodayOrLater)"
  *ngIf="namesToBeCalledTodayOrLater.length > 1"
  >get me someone else</button>
  <ul>
    <app-name-card 
    *ngIf="namesToBeCalledTodayOrLater.length > 0"
    [personToCall]="randomPerson"
    [editPossibility]="editPossibility"
    [showCalledCheckBox]="showCalledCheckBox"
    ></app-name-card>
  </ul>
  <div *ngIf="namesToBeCalledTodayOrLater.length === 0"> There is noone to call</div>
</div>