<h1 *ngIf="addOrEdit === 'add'"> Add a person</h1>
<form [formGroup]="addPersonForm" (ngSubmit)="onSubmit()">
    <div *ngIf="addOrEdit === 'add'">
        <label for="name">
          I want to call 
        </label>
        <input 
        id="name" 
        type="text" 
        formControlName="name"
        [placeholder]="data.name !== '' ? data.name : 'name'"
        required
        >
      </div>
      <div *ngIf="addOrEdit === 'edit'">
          I want to call {{ data.name }}
      </div>

      <div>
        <label for="frequency">
            every 
        </label>
        <input 
        id="frequency" 
        type="text" 
        formControlName="frequency"
        required
        ><label for="frequency">
            days.
        </label>
      </div>

      <div *ngIf="addOrEdit === 'edit'">
        <label for="timeStamp">
          Last time was the
        </label>
        <input 
        id="timeStamp" 
        type="text" 
        formControlName="timeStamp"
        [placeholder]="data.timeStamp"
        required
        >
      </div>
      
    <button class="form--button" type="submit" [disabled]="name?.status === 'INVALID' || frequency?.status === 'INVALID' || addPersonForm.controls['timeStamp'].status === 'INVALID'">{{addOrEdit === 'edit' ? 'update' : 'add'}}</button>
    <div *ngIf="(name?.status === 'INVALID' || frequency?.status === 'INVALID') && (frequency?.touched && name?.touched)"
    class="form--error-message">
      Please enter a name with at least four letters and <br>
      only numbers starting from 1 are allowed.
    </div>
    <div *ngIf="(addPersonForm.controls['timeStamp'].status === 'INVALID' || frequency?.status === 'INVALID') && (frequency?.touched && addPersonForm.controls['timeStamp'].touched)"
    class="form--error-message">
      Please note that only numbers starting from 1 are allowed <br>
      and the date needs to have the format dd.mm.yyyy.
    </div>
  </form>