<h1 *ngIf="formLayoutByStatus === 'add'"> Add a person</h1>
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <div *ngIf="formLayoutByStatus === 'add'">
        <label for="name">
          I want to call 
        </label>
        <input 
        id="name" 
        type="text" 
        formControlName="name"
        [placeholder]="personToCall.name !== '' ? personToCall.name : 'name'"
        required
        >
      </div>
      <div *ngIf="formLayoutByStatus === 'edit'">
          I want to call {{ personToCall.name }}
      </div>

      <div *ngIf="formLayoutByStatus !== 'called'">
        <label for="frequency">
            every 
        </label>
        <input 
        id="frequency" 
        type="text" 
        formControlName="frequency"
        required
        ><label for="frequency">
            days.
        </label>
      </div>

      <div *ngIf="formLayoutByStatus === 'edit'">
        <label for="lastTimeCalled">
          Last time was the
        </label>
        <input 
        id="lastTimeCalled" 
        type="text" 
        formControlName="lastTimeCalled"
        [placeholder]="personToCall.lastTimeCalled"
        required
        >
      </div>

      <div *ngIf="formLayoutByStatus === 'called'">
        Hopefully you had a good call!
      </div>
      
    <button 
    *ngIf="formLayoutByStatus === 'edit' || formLayoutByStatus === 'add'"
      class="form--button" 
      type="submit" 
      [disabled]="name?.status === 'INVALID' || frequency?.status === 'INVALID'">
      {{formLayoutByStatus === 'edit' ? 'update' : 'add'}}
    </button>

    <button 
    *ngIf="formLayoutByStatus === 'called' "
    class="form--button" 
    type="submit">
     Yes, we had a good call 
  </button>
    
    <div 
    *ngIf="(name?.status === 'INVALID' || frequency?.status === 'INVALID') && (frequency?.touched && name?.touched)"
    class="form--error-message">
      Please enter a name with at least four letters and <br>
      only numbers starting from 1 are allowed.
    </div>

    <div *ngIf="(personForm.controls['lastTimeCalled'].status === 'INVALID' || frequency?.status === 'INVALID') && (frequency?.touched && personForm.controls['lastTimeCalled'].touched)"
    class="form--error-message">
      Please note that only numbers starting from 1 are allowed <br>
      and the date needs to have the format dd.mm.yyyy.
    </div>
  </form>